numpy
scipy
healpy
matplotlib
astropy

tqdm
futures
gitpython

/home/tmenne/software/tdepps
/home/tmenne/software/myi3scripts
/home/tmenne/software/dagman

/home/tmenne/software/skylab_-_frozen/trunk

